<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {{!-- (29m) --}}
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/boot.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    {{>navbar}}

    {{!-- hero section start --}}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row ">
                      <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-start align-items-center flex-column">
                       {{!-- <h1>A mentorship programme</h1> --}}
                       <div class="h-text">
                     <h1 >A MENTORSHIP PROGRAMME BY</h1> 
                   
                        <h1  > AIIMSONIANS</h1>
                        <p>we will help you to reach<span class="bold-style"> your educational goal😉</span></p>
                         <button class="btn-style btn-primary ">Read More</button>
                        </div>
                       

                    </div>
 {{!-- right-side --}}
                  <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                        <figure>
                            <img src="images/im.jpg" alt="" srcset="" width="500px" height="500px">
                            
                        </figure>
                    </div>
                </div>
               

            </div>
        </div>
    </div>

      {{!-- hero section end --}}

{{!-- aboutus start --}}



 <div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                 <h1 class="text-center main-heading">About Us</h1>
                <p class="text-center sub-heading">Success is yours</p>
                <div class="row ">

                     <div class="col-md-6 col-12 hero-text">
                        <figure>
                            <img src="images/tech.jpg" alt="" srcset="" width="500px" height="500px">
                            
                        </figure>
                    </div>
                     {{!-- right-side --}}
                
                      <div class="col-md-6 col-12 hero-text d-flex justify-content-start align-items-center flex-column">
                       {{!-- <h1>A mentorship programme</h1> --}}
                       <div class="h-text">
                     <h1 >A MENTORSHIP PROGRAMME BY</h1> 
                   
                        <h1  > AIIMSONIANS</h1>
                        <p>we will help you to reach<span class="bold-style"> your educational goal😉</span></p>
                         <button class="btn-style btn-primary ">Read More</button>
                        </div>
                       

                    </div>
                </div>
               



            </div>
        </div>
    </div>






{{!-- aboutus start --}}

    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
    
</body>
</html>